$color__accent: #ff1d1d;
$color__positive: #1c9a3f;
$color__background: #3985c6;
$color__info: #f6d20b;
$color__main: #fff;
$color__primary: #343442;
$color__secondary: #8592aa;
$color__search: #e5eaef;
