@import './mixins';

.page {
  // background-image: url('src/assets/static/background.jpg');
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // height: 100vh;
  // width: 100%;

  &__header {
    margin-bottom: 32px;
  }

  &__cart-header {
    margin-bottom: 16px;
  }

  &__slider {
    margin-bottom: 16px;

    @include onBigger {
      margin-bottom: 24px;
    }
  }

  &__navigation {
    position: fixed;
    bottom: 16px;
    left: 16px;
    right: 16px;
  }

  &__cart-form {
    margin-bottom: 24px;
  }
}
