* {
  box-sizing: border-box;
}

// html,
body,
h1,
h2,
ul,
li,
p,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}