@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('src/assets/fonts/NunitoSans-Regular.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('src/assets/fonts/NunitoSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('src/assets/fonts/NunitoSans-Bold.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: url('src/assets/fonts/NunitoSans-ExtraBold.ttf');
}