@import '../../assets/sassStyles/reset';
@import '../../assets/sassStyles/colors';
@import '../../assets/sassStyles/mixins';

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 10px 8px;
  width: 100%;
  height: 100%;

  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(22, 25, 31, 0.1);
  border-radius: 10px;

  &__image {
    display: block;
    margin: 0 auto 8px;
    max-height: 90px;

    object-fit: cover;
    object-position: center;

    @include onBigger {
      max-height: 75px;
    }
  }

  &__title {
    margin-bottom: 8px;
    display: -webkit-box;
    // max-height: 66px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: $color__primary;

    @include onBigger {
      -webkit-line-clamp: 2;
      font-size: 14px;
    }
  }

  &__price-old {
    margin-bottom: 5px;

    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    text-decoration-line: line-through;
    color: $color__secondary;

    @include onBigger {
      margin-bottom: 2px;
    }

    &--hidden {
      visibility: hidden;
    }
  }

  &__price-current-number {
    font-size: 16px;
    line-height: 120%;

    @include onBigger {
      font-size: 18px;
    }
  }

  &__price-current {
    font-weight: 800;
    font-size: 14px;
    line-height: 140%;
    color: $color__primary;

    &--on-sale {
      color: $color__accent;
    }
  }

  &__status {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;

    &--positive {
      font-weight: 600;
      color: $color__positive;
    }

    &--negative {
      color: $color__secondary;
    }
  }

  &__cart-icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    // &--search {
    width: 44px;
    height: 42px;

    @include onBigger {
      width: 32px;
      height: 32px;
    }

    &--remove {
      background-image: url('../../assets/static/SliderCard/cart-icon-active.svg');
    }

    &--add {
      background-image: url('../../assets/static/SliderCard/cart-icon.svg');
    }
    // }
  }

  &__purchase {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
}
