@import '../../assets/sassStyles/colors';

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 9999;
  overflow-y: auto;
  background: rgba(52, 52, 66, 0.7);
}

.modal {
  padding: 24px 16px;
  background: $color__main;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  box-shadow: 0px 4px 15px rgba(22, 25, 31, 0.1);
  border-radius: 16px;

  @media (min-width: 576px) {
    max-width: 50%;
  }

  &__close {
    background-color: $color__background;
    color: $color__main;
    border-radius: 32px;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    width: 100%;
    height: 41px;
  }

  &__messages {
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 24px;
    font-size: 22px;
    text-align: center;
    color: $color__accent;
  }

  &__subtitle {
    margin-bottom: 16px;
  }
}
