@import '../../assets/sassStyles/mixins';
@import '../../assets/sassStyles/colors';

.slider {
  &__container {
    position: relative;
  }

  &__title {
    top: 10px;
    position: absolute;
    font-weight: 800;
    font-size: 18px;
    line-height: 120%;
    color: $color__primary;

    @include onBigger {
      font-size: 20px;
    }

    @media (max-width: 327px) {
      font-size: 15px
    }
  }

  &__grid {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 16px;

    @include onBigger {
      gap: 16px;
      grid-template-rows: repeat(2, 1fr);
    }
  }

  &__icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;

    &--left {
      background-image: url('../../assets/static/AppSlider/icon-left.svg');
    }

    &--right {
      background-image: url('../../assets/static/AppSlider/icon-right.svg');
    }
  }
}