@import '../../assets/sassStyles/colors';
@import '../../assets/sassStyles/mixins';

.slider {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 800;
    font-size: 18px;
    line-height: 120%;
    color: $color__primary;

    @include onBigger {
      font-size: 20px;
    }
  }

  &__buttons {
    display: flex;
    gap: 4px;
  }

  &__icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;

    &--left {
      background-image: url('../../assets/static/AppSlider/icon-left.svg');
    }

    &--right {
      background-image: url('../../assets/static/AppSlider/icon-right.svg');
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 38px;
    height: 38px;

    background-color: $color__main;
    border-radius: 50px;

    box-shadow: 0px 4px 15px rgba(22, 25, 31, 0.1);
  }

  &__slides {
    margin-bottom: 16px;
    display: flex;
    gap: 8px;
    flex-direction: row;
    overflow-x: hidden;
    position: relative;
    width: calc(100% * 2);
    left: calc(-100% * 0);
    max-width: 100%;

    @include onBigger {
      margin-bottom: 16px;
      display: flex;
      gap: 16px;
      flex-direction: row;
      overflow-x: hidden;
      position: relative;
      width: calc(100% * 4);
      left: calc(-100% * 0);
      max-width: 100%;
    }
  }

  &__slide {
    gap: 8px;

    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(2, 1fr);
    width: 100%;
    flex-shrink: 0;
    transition: transform 0.5s ease-in-out;
    max-width: 100%;

    @include onBigger {
      gap: 16px;

      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      width: 100%;
      flex-shrink: 0;
      transition: transform 0.5s ease-in-out;
      max-width: 100%;
    }
  }

  &__dots {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  &__dot {
    width: 6px;
    height: 6px;
    border-radius: 3px;

    background-color: $color__main;

    &--active {
      width: 8px;
      height: 8px;
      border-radius: 4px;

      background-color: $color__background;
    }
  }
}
